h1 {
	font-size: 33px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 60px;
}
.content {
	border-top: 1px solid #e9ebed;
}

.breadcrumbs {
	margin: 35px 0 80px 0;
}

.first_screen {
	padding-bottom: 80px;
	padding-top: 70px;
}
.first_screen {
	background-image: url(../img/about_bcg.png);
}
.first_screen span.secondary_title {
	text-transform: none;
	width: 100%;
	max-width: 680px;
	margin-bottom: 40px;
}
.first_screen a {
	width: 250px;
	height: 50px;
}
.first_screen a .icon {
	margin-right: 15px;
	display: block;
	width: 25px;
	height: 25px;
	min-width: 25px;
}
.first_screen a .icon>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.service__block-img {
	height: auto;
	border: 1px solid #e9ebed;
	border-radius: 5px;
	padding: 20px;
}
.service__block-wrap {
	border: none;
}
.service__block-title {
	text-align: left;
	font-weight: 600;
	margin-bottom: 20px;
}
.service__block-wrap {
	height: auto;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 0;
	margin-top: 30px;
}
a.pdf__link {
	font-size: 17px;
	margin-bottom: 0px;
	display: flex;
	align-content: center;
	justify-content: flex-start;
}
a.pdf__link>span {
	color: #848e9d;
	font-size: 17px;
	margin-left: 10px;
}
a.pdf__link>img {
	display: inline-block;
	width: 25px;
	margin-right: 20px;
	margin-bottom: 0;
	margin-top: -5px;
}
a.pdf__link:hover {
	color: var(--green-color);
}
a.pdf__link:hover>span {
	color: var(--green-color);
}
.service__slider-wrap .slick-prev, .service__slider-wrap .slick-next {
	top: 35%;
}
.service {
	padding-bottom: 80px;
	border-bottom: 2px solid #e9ebed;
}
.details {
	padding-bottom: 100px;
	padding-top: 90px;
}
.details .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap:14vw;
}
.details__wrap {
	width: 100%;
	max-width: 750px;
	padding-right: 20px;
}
.details__wrap .title {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 65px;
}
.details__content {
	font-size: 19px;
	line-height: 1.6;
}

.photogallery__wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}
.photogallery__block {
	width: 100%;
	height: 390px;
	overflow: hidden;
}
.photogallery__block img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.photogallery__block-banner {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 75px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 15px 20px;
	overflow: hidden;
}
.photogallery__block-banner p {
	font-size: 17px;
	font-weight: 100;
	color: #fff;
	line-height: 1.4;
}

.history {
	padding-bottom: 100px;
}
.history .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 150px;
}
h3 {
	font-size: 28px;
	text-transform: uppercase;
	text-align: left;
	margin-top: 90px;
	margin-bottom: 60px;
	font-weight: 700;
}
.aboutus__wrap {
	width: 100%;
}
.aboutus__wrap p {
	font-size: 19px;
	margin-bottom: 30px;
	line-height: 1.6;
}
.aboutus__wrap p:last-child {
	margin-bottom: 0;
}
.infographic__wrap {
	padding-top: 50px;
}
.infographic__block {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	padding-left: 10px;
	margin-bottom: 35px;
}
.infographic__block-year {
	width: 65px;
	min-width: 65px;
	height: 65px;
	border-radius: 50%;
	background-color: #848e9d;
	color: var(--green-color);
	font-size: 22px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 0 5px #fff,	
				0 0 0 7px var(--green-color);
	margin-right: 30px;
	top: -10px;
}
.infographic__block-description {
	border: 2px solid var(--green-color);
	padding: 20px 25px;
	border-radius: 5px;
	font-size: 17px;
	line-height: 1.5;
	width: 100%;
}
.infographic__block-description:after {
	content: '';
	width: 10px;
	height: 10px;
	border-top: 2px solid var(--green-color);
	border-right: 2px solid var(--green-color);
	display: block;
	position: absolute;
	top: 17px;
	left: -7px;
	transform: rotateZ(-135deg);
	background-color: #fff;
}
.infographic__main-line {
	position: absolute;
	width: 4px;
	height: 92%;
	background-color: #848e9d;
	top: 0;
	left: 40px;
	z-index: 0;
}