h1 {
	font-size: 33px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 60px;
}
.content {
	border-top: 1px solid #e9ebed;
}

.breadcrumbs {
	margin: 35px 0;
}


.faq__wrap {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 110px;
	grid-row-gap: 60px;
	padding-bottom: 100px;
}
.faq__block-question {
	width: 100%;
	padding-left: 80px;
	font-size: 21px;
	font-weight: 600;
	cursor: pointer;
}
.faq__block-question:before {
	content: '?';
	position: absolute;
	left: 0;
	top: -17px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid var(--green-color);
	font-size: 33px;
	color: var(--green-color);
	font-weight: 400;
}
.faq__block-response {
	width: 100%;
	padding-left: 120px;
	margin-top: 50px;
	font-size: 21px;
	display: none;
}
.faq__block-response:before {
	content: '!';
	position: absolute;
	left: 40px;
	top: -17px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid var(--red-color);
	font-size: 33px;
	color: var(--red-color);
	font-weight: 400;
}

@media all and (max-width: 1380px) {
	h1 {
		font-size: 28px;
		margin-bottom: 30px;
	}
	.faq__wrap {
		grid-column-gap: 30px;
		grid-row-gap: 50px;
	}
	.faq__block-question,
	.faq__block-response {
		font-size: 19px
	}
	.faq__block-question:before,
	.faq__block-response:before {
		width: 40px;
		height: 40px;
		font-size: 28px;
	}
}
@media all and (max-width: 990px) {
	h1	{
		margin: 30px 0 40px 0;
		font-size: 26px
	}
	.faq__wrap {
		grid-template-columns: 1fr;
	}
}
@media all and (max-width: 670px) {
	.faq__block-question, .faq__block-response {
		font-size: 17px
	}
	.faq__block-question {
		padding-left: 60px
	}
	.faq__block-response {
		padding-left: 100px
	}	
}
@media all and (max-width: 520px) {
	h1 {
		font-size: 24px
	}
	.faq__block-question,
	.faq__block-response {
		font-size: 17px
	}
	.faq__block-question:before,
	.faq__block-response:before {
		width: 25px;
		height: 25px;
		font-size: 22px;
		top: -6px;
	}
	.faq__block-question {
		padding-left: 40px
	}
	.faq__block-response {
		padding-left: 40px;
		margin-top: 25px
	}
	.faq__block-response:before {
		left: 0px
	}
	.faq__wrap {
		grid-row-gap: 30px;
		padding-bottom: 40px;
	}
}
@media all and (max-width: 420px) {
	h1 {
		font-size: 21px
	}
	.faq__block-question,
	.faq__block-response {
		font-size: 17px
	}
	.faq__block-question:before,
	.faq__block-response:before {
		width: 30px;
		height: 30px;
		font-size: 24px;
	}
	.faq__block-question {
		padding-left: 45px
	}
	.faq__block-response {
		padding-left: 65px;
		margin-top: 20px
	}
	.faq__block-response:before {
		left: 20px
	}
}