h1 {
	font-size: 33px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 60px;
}
.content {
	border-top: 1px solid #e9ebed;
}

.breadcrumbs {
	margin: 35px 0;
}



.tabs__header {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-bottom: 5px solid #ccd3dc;
}
.tab__trigger-block {
	padding: 0 100px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	height: 100%;	
	cursor: pointer;
}
.tab__trigger-block p {
	font-size: 21px;
	color: #848e9d;
}
.tab__trigger-block p.minor  {
	font-size: 15px;
	margin-top: 10px;
}
.tab__trigger-block.active p{
	color: #64b2ab;
}
.tab__trigger-block.active:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	position: absolute;
	bottom: -5px;
	left: 0;
	background-color: #64b2ab;
}
.tabs__content-wrap {
	padding-bottom: 100px;
}
.tabs__content-wrap .tab__content {
	display: none;
	padding-top: 80px;
}
.tabs__content-wrap .tab__content.active {
	display: block;
	animation-name: FadeIn;
}

.feedback__content-wrap {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.feedback__block {
	width: 100%;
}
.feedback__block-summary {
	width: 500px;
	height: 190px;
	border: 1px solid #e1e3e5;
	border-radius: 5px;
	margin-bottom: 60px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.summary__image-wrap {
	width: 190px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.summary__image-wrap img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	object-fit: cover;
}
.summary__block-info {
	padding: 35px 35px 35px 0;
}
.summary__block-info p.title {
	font-size: 19px;
	font-weight: 400;
}
.summary__block-info p.amount {
	font-size: 17px;
	font-weight: 400;
	color: #848e9d;
	margin: 20px 0;
}
.summary__block-info .stars {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}
.average__count {
	font-size: 19px;
	margin-right: 25px;
	font-weight: 400;
}
.stars__wrap {
	display: flex;
}
.stars__wrap i {
	font-size: 30px;
	color: #f9c600;
	display: block;
	margin-right: 5px;
}


.feedback__block-content {
	border: 1px solid #e1e3e5;
	border-radius: 7px;
	max-width: 700px;
	margin-right: 30px;
	overflow: hidden;
}
.feedback__block-content img {
	width: 100%;
}

.mobile__tab-trigger {
	display: none;
}


@media all and (max-width: 1380px) {
	.tab__trigger-block {
		padding: 0 60px;
	}
	.tab__trigger-block p {
		font-size: 19px
	}
}
@media all and (max-width: 1080px) {
	.summary__image-wrap {
		width: 150px
	}
	.feedback__block-summary {
		width: 420px;
		height: 150px
	}
	.summary__block-info {
		padding: 10px 10px 10px 0;
	}
	.tab__trigger-block {
		padding: 0 40px;
	}
	.tab__trigger-block p {
		font-size: 17px
	}
}
@media all and (max-width: 990px) {
	h1	{
		font-size: 28px;
		margin: 30px 0;
	}
}
@media all and (max-width: 900px) {
	.tabs__header {
		display: none;
	}
	.mobile__tab-trigger {
		width: 100%;
		display: flex;
		margin-bottom: 10px;
		align-items: flex-end;
		justify-content: center;
		flex-direction: column;
		height: 70px;
	}
	.mobile__tab-trigger p {
		font-size: 17px;
		color: #848e9d;
		font-weight: 400;
	}
	.mobile__tab-trigger p.main {
		line-height: 1
	}
	.mobile__tab-trigger p.minor {
		font-size: 13px;
	}
	.mobile__tab-trigger:after {
		content: '';
		position: absolute;
		right: 10px;
		top: 30px;
		border-color: #848e9d transparent;
		border-style: solid;
		border-width:5px 5px 0px 5px;
		transform: rotateZ(0deg);
		transition: all 0.2s linear;
	}
	.tabs__content-wrap .tab__content {
		padding-top: 0;
		display: block;
		height: 70px;
		overflow: hidden;
		border-bottom: 1px solid #e1e3e5;
		width: calc(100% + 20px);
		left: -10px;
		padding: 0 10px;
	}
	.tabs__content-wrap .tab__content.active {
		height: auto;
	}
	.tab__content p {
		margin-bottom: 0
	}
	.tabs__content-wrap {
		padding-bottom: 30px
	}
	.tab__content.active .mobile__tab-trigger p{
		color: var(--blue-color);
	}
	.tab__content.active .mobile__tab-trigger:after {
		transform: rotateZ(180deg);
		border-color: var(--blue-color) transparent;
	}
	.feedback__block-summary {
		margin-bottom: 20px
	}
	.summary__block-info p.amount {
		margin: 15px 0;
	}
	.feedback__content-wrap {
		flex-direction: column;
	}
	.feedback__block-content {
		margin-right: 0;
		margin-bottom: 30px
	}
}
@media all and (max-width: 440px) {
	h1 {
		font-size: 21px
	}
	.summary__image-wrap {
		width: 90px;
		padding: 10px;
	}
	.summary__block-info {
		padding-left: 10px
	}
	.summary__block-info p.title {
		font-size: 15px
	}
	.summary__block-info p.amount {
		font-size: 13px;
		margin: 5px 0;
	}
	.average__count {
		line-height: 1
	}
	.stars__wrap i {
		font-size: 21px
	}
	.feedback__block-summary {
		width: 100%;
		height: 100px
	}
}