.first_screen {
	width: 100%;
	background-image: url(../img/main_bcg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-left: 230px;
	padding-top: 80px;
	padding-bottom: 100px;
}
.first_screen span.main_title {
	text-transform: uppercase;
	font-size: 38px;
	font-weight: 700;
	display: block;
}
.first_screen span.secondary_title {
	display: block;
	font-size: 32px;
	margin: 20px 0 50px 0;
}
.first_screen a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 195px;
	height: 50px;
	background-color: var(--lightred-color);
	color: #fff;
	border-radius: 5px;
	font-size: 22px;
}

.filter {
	width: 100%;
	background-color: #eceff1;
}
.filter_wrap {
	padding-top: 50px;
	padding-bottom: 30px;
}
.filter_wrap .title {
	font-size: 21px;
	font-weight: 600;
}
.filter__step {
	width: 100%;
	display: none;
}
.filter__step.active {
	display: block;
}
.filter__wrap-header {
	margin-bottom: 30px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.filter__wrap-form {
	grid-template-columns: repeat(5, auto);
	grid-template-rows: 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	margin-left: 30px;
	align-items: center;
	display: none;
	animation: fadeIn 0.2s linear;
}
.filter__wrap-form.active {
	display: grid;
}
.filter__select-wrap {
	display: block;
	height: 45px;
	width: 225px;
	border-radius: 5px;
	background-color: #fff;
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	font-size: 17px;
	color: #474747;
}
.filter__select-wrap select {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-color: #fff;
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	font-size: 17px;
	color: #474747;
	border: none;
	padding-left: 25px;
	cursor: pointer;
}
.filter__select-wrap:after {
	content: '';
	position: absolute;
	z-index: 5;
	width: 30px;
	height: 100%;
	right: 0;
	top: 0;
	background-color: #fff;
	border-radius: 5px;
	display: block;
	pointer-events: none;
}
.filter__select-wrap:before {
	content: '';
	position: absolute;
	z-index: 6;
	border-color: #848e9d transparent;
	border-style: solid;
	border-width:5px 5px 0px 5px;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	pointer-events: none;
}
.filter__select-wrap select:focus{
	outline: none;
}
.filter__select-wrap.carGeneration {
	width: 320px;
}
.filter__clear-button {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 17px;
	color: #474747;
	cursor: pointer;
	margin-left: 20px;
} 
.filter__clear-button i {
	font-weight: 100;
}
.filter__clear-button p {
	margin-left: 10px;
}
.filter__wrap-form a[type="submit"] {
	display: block;
	width: 135px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 17px;
	background-color: var(--lightred-color);
	border-radius: 5px;
	margin-left: 20px;
	color: #fff;
}
.filter_wrap ul {
	width: 100%;
	max-height: 160px;
	overflow-y: hidden;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	transition: all 0.2s ease;
}
.filter_wrap ul.active {
	height: auto;
	max-height: 100%;
}
.filter_wrap .filter__step-second ul,
.filter_wrap .filter__step-third ul {
	height: auto;
	max-height: 100%;
}
.filter_wrap ul li {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-right: 10px;
}
.filter_wrap ul li>p {
	font-size: 19px;
	padding-left: 25px;
	cursor: pointer;
}
.filter_wrap ul li>p:hover {
	color: var(--green-color);
}
.filter_wrap ul li>p:before {
	content: "";
	border-color: transparent #848e9d;
	border-style: solid;
	border-width:5px 0 5px 5px;
	display: block;
	height: 0;
	width: 0;
	left: 0px;
	top: 7px;
	color: #848e9d;
	position: absolute;
}
.filter_wrap ul li>p:hover:before {
	border-color: transparent var(--green-color);
	color: var(--green-color);
}
.filter_wrap .filter__step-third ul {
	grid-template-columns: repeat(4, 1fr);
}
.filter_wrap ul li>span {
	font-size: 17px;
	color: #9da6b3;
	margin-left: 5px;
}
.cars__logo-wrap {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}
.cars__logo-wrap p img {
	transition: all 0.1s linear;
	cursor: pointer;
}
.cars__logo-wrap p:hover img{
	transform: scale(1.1);
}
.filter .bottom_part{
	width: 100%;
	background-color: #e2e6ea;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: 600;
	color: #848e9d;
	cursor: pointer;
}
.filter .bottom_part i {
	display: inline-block;
	color: #848e9d;
	margin-left: 15px;
}
.filter .bottom_part.active{
	display: none;
}

.category {
	width: 100%;
	padding-bottom: 100px;
}

h2 {
	text-transform: uppercase;
	font-size: 33px;
	font-weight: 700;
	text-align: center;
	margin: 90px 0;
}
.category__tile-wrap {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}
.category__block {
	width: 100%;
	height: 320px;
	background-color: #f6f6f6;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all 0.2s linear;
}

.category__block:hover {
	transform: scale(1.05);
}
.category__block:nth-child(1) {
	background-image: url(../img/category-farkop.png);
}
.category__block:nth-child(2) {
	background-image: url(../img/category-electric.png);
}
.category__block:nth-child(3) {
	background-image: url(../img/category-box.png);
}
.category__block:nth-child(4) {
	background-image: url(../img/category-bycicle.png);
}
.category__block:nth-child(5) {
	background-image: url(../img/category-ski.png);
}
.category__block:nth-child(6) {
	background-image: url(../img/category-carter.png);
}
.category__block:nth-child(7) {
	background-image: url(../img/category-relings.png);
}
.category__block:nth-child(8) {
	background-image: url(../img/category-parktronic.png);
}
.category__block-title {
	position: absolute;
	top: 240px;
	left: 5%;
	width: 90%;
	text-align: center;
	line-height: 1.4;
	font-size: 21px;
}

.statistics {
	width: 100%;
	background-color: var(--main-color);
	padding: 75px 0;
}
.statistics__wrap {
	width: 90%;
	max-width: 1460px;
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: 1fr;
	grid-column-gap: 70px;
	margin: 0 auto;
}
.statistics__block-main {
	text-align: left;
	font-size: 80px;
	font-weight: 700;
	margin-bottom: 15px;
}
.statistics__block .blue {
	color: var(--blue-color);
}
.statistics__block .red {
	color: var(--lightred-color);
}
.statistics__block .green {
	color: var(--green-color);
}
.statistics__block .main {
	color: #abb5c3;
}
.statistics__block-main.blue span{
	font-size: 48px;
	color: var(--blue-color);
	font-weight: 700;
} 
.statistics__block-secondary {
	text-transform: lowercase;
	font-size: 24px;
	text-align: left;
	color: #fff;
}
.statistics__block-more {
	position: absolute;
	top: 16px;
	font-size: 48px;
	font-weight: 700;
	left: -47px;
}

.popular {
	width: 100%;
}
.popular__wrap {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}
.popular__block {
	width: 100%;
	border: 1px solid #e1e3e5;
	border-radius: 5px;
}
.popular__block-imgWrap {
	width: 100%;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #e1e3e5;
}
.popular__block-imgWrap img {
	max-width: 100%;
	max-height: 100%;
}
.popular__block-textWrap {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 25px 10px;
}
.popular__block-price {
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.popular__block-price span{
	color: var(--blue-color);
	font-weight: 600;
}
.popular__block-type {
	color: #848e9d;
	font-size: 15px;
	margin-bottom: 10px;
}
.popular__block-name {
	font-size: 19px;
	color: #474747;
	text-align: center;
	margin-bottom: 20px;
}
.popular__block-article {
	font-size: 15px;
	margin-bottom: 10px;
}
.popular__block-article span {
	color: #848e9d;
}
.popular__block-availiability {
	font-size: 15px;
	margin-bottom: 30px;
}
.popular__block-availiability span {
	color: #b2d064;
}
button.buy {
	width: 110px;
	height: 45px;
	color: #fff;
	font-size: 17px;
	background-color: var(--lightred-color);
	transition: all 0.2s ease;
}
button.buy:hover {
	background-color: var(--red-color);
}
a.show__more {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 210px;
	height: 55px;
	color: var(--blue-color);
	font-size: 22px;
	background-color: transparent;
	margin: 80px auto 10px auto;
	border: 1px solid var(--blue-color);
	transition: all 0.2s ease;
	border-radius: 5px;
}
a.show__more:hover {
	background-color: var(--blue-color);
	color: #fff;
}

.advantages {
	width: 100%;
	padding-bottom: 100px;
}
.advantages__wrap {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 70px;
}
.advantages__block {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}
.advantages__block-icon img{
	height: 65px;
	width: auto;
}
.advantages__block-title {
	font-size: 21px;
	text-align: left;
	margin: 40px 0;
}
.advantages__block-text {
	font-size: 17px;
	font-weight: 100;
	line-height: 1.4;
}

.sales {
	width: 100%;
}
.sales .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sales__block {
	width: calc(50% - 15px);
	height: 600px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	flex-direction: column;
	padding:80px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/cashback.png);
}
.sales__block:nth-child(2){
	background-image: url(../img/gift.png);
}
.sales__block .dark {
	color: var(--main-color);
}
.sales__block .light {
	color: #fff;
}
.sales__block button.dark {
	background-color: var(--red-color);
	color: #fff;
	transition: all 0.2s ease;
}
.sales__block button.light {
	background-color:  var(--lightred-color);
	color: #fff;
	transition: all 0.2s ease;
}
.sales__block button.dark:hover {
	background-color: var(--lightred-color);
}
.sales__block button.light:hover {
	background-color: var(--red-color);
}
.sales__block-title {
	font-size: 48px;
	font-weight: 700;
	text-align: right;
}
.sales__block-text {
	font-size: 30px;
	margin: 45px 0;
	text-align: right;
	font-weight: 100;
}
.sales__block-text b {
	font-weight: 700;
	color: inherit;
}
.sales__block-button {
	height: 55px;
	padding: 0 40px;
	color: #fff;
	font-size: 22px;
}

.map {
	width: 100%;
}
.map__wrap {
	width: 100%;
	height: 630px;
}

.service {
	width: 100%;
}
.service__slider-wrap {
	width: 100%;
	padding: 0 90px;
}
.service__slider {
	width: 100%;
}
.service__block {
	border-radius: 5px;
	overflow: hidden;
}
.service__block-img {
	width: 100%;
	height: 200px;
}
.service__block-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;	
}
.service__block-wrap {
	width: 100%;
	height: 215px;
	border-radius: 0 0 5px 5px;
	border-bottom: 1px solid #e1e3e5;
	border-right: 1px solid #e1e3e5;
	border-left: 1px solid #e1e3e5;
	padding: 25px 10px 30px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
.service__slider .slick-slide {
	margin: 0 15px;
	height: 100%;
}
.service__slider .slick-slide>div {
	height: 100%;
}
.service__block-title {
	width: 100%;
	text-align: center;
	font-size: 19px;
	line-height: 1.4;
}
.service__block-price {
	font-size: 17px;
	color: #848e9d;
	width: 100%;
	text-align: center;
}
.service__block-button {
	position: absolute;
	bottom: 70px;
	left: 50%;
	transform: translateX(-50%);
	width: 130px;
	height: 40px;
	color: #fff;
	font-size: 17px;
	background-color: var(--lightred-color);
	transition: all 0.2s ease;
}
.service__block-button:hover {
	background-color: var(--red-color);
}

.slick-prev, .slick-next {
	width: 15px;
	height: 45px;
	background-image: url(../img/slider_arrow.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.slick-prev:focus, .slick-next:focus,
.slick-prev:hover, .slick-next:hover {
	background-image: url(../img/slider_arrow.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.slick-next {
	transform: translate(0, -50%) rotateZ(180deg);
}
.slick-prev:before, .slick-next:before {
	display: none;
}

.news {
	width: 100%;
	padding-bottom: 100px;
}
.news__wrap {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 30px;
}
.news__block {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}
.news__block-img {
	width: 100%;
	height: 225px;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 40px;
}
.news__block-img a {
	width: 100%;
	height: 100%;
}
.news__block-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.news__block-img .news__block-mark {
	position: absolute;
	top: 0;
	right: 30px;
	height: 35px;
	padding: 0 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	width: auto;
}
.news__block-mark.portfolio {
	background-color: var(--red-color);
}
.news__block-mark.news__mark {
	background-color: var(--green-color);
}
.news__block-mark.article {
	background-color: var(--blue-color);
}
.news__block-date {
	font-size: 17px;
	color: #848e9d;
	margin-bottom: 20px;
} 
.news__block-title {
	font-size: 19px;
	margin-bottom: 30px;
}
.news__block-link {
	font-size: 15px;
	color: var(--lightred-color);
	transition: all 0.2s ease;
}
.news__block-link:after {
	content: '';
	position: absolute;
	top: 50%;
	right: -15px;
	transform: translateY(-50%);
	border-color: transparent var(--lightred-color);
	border-style: solid;
	border-width:4px 0 4px 4px;
}
.news__block-link:hover {
	color: var(--red-color);
}
.news__block-link:hover:after {
	border-color: transparent var(--red-color);
}

@media all and (max-width:1660px) {
	.service__block-title {
		font-size: 15px
	}
	.filter_wrap .filter__step-third ul {
	    grid-template-columns: repeat(3, 1fr);
	}
}
@media all and (max-width: 1440px) {
	.filter__select-wrap {
		width: 170px;
	}
	.filter__select-wrap.carGeneration {
		width: 245px
	}
	.filter__select-wrap select {
		padding-left: 15px;
	}
}
@media all and (max-width: 1280px) {
	.first_screen {
		padding-left: 60px
	}
	.filter__wrap-form {
	    grid-template-columns: repeat(3, auto);
	}
	.filter__wrap-form a[type="submit"] {
		margin-left: 0
	}
	.filter__wrap-header {
		height: auto;
		align-items: start;
	}
	.filter_wrap .title {
		padding-top: 8px
	}
	.filter__clear-button {
		margin-left: 0
	}
	.category__block {
		height: 210px;
	}
	.category__block-title {
		top: 150px;
		font-size: 17px;	
	}
	h2	{
		font-size: 28px;
		margin: 60px 0;
	}
	.statistics__block-main {
		font-size: 50px;
	}
	.statistics__block-main.blue span {
		font-size: 32px
	}
	.statistics__block-secondary{
		font-size: 20px
	}
	.statistics__block-more {
		font-size: 32px;
		top: 10px;
		left: -30px;
	}
	.statistics {
		padding: 60px 0;
	}
	.popular__wrap {
		grid-template-columns: repeat(5, 1fr);
	}
	.sales__block {
		padding: 40px;
		height: 440px;
	}
	.sales__block-title {
		font-size: 40px
	}
	.sales__block-text {
		font-size: 24px
	}
	.map__wrap {
		height: 400px;
	}
	.service__block-title {
		font-size: 15px
	}
	.cars__logo-wrap p img {
		width: 80%;
	}
	.filter_wrap ul {
		grid-template-columns: repeat(5, 1fr);
	}
}
@media all and (max-width: 1240px) {
	.filter_wrap .filter__step-third ul {
	    grid-template-columns: repeat(2, 1fr);
	}
}
@media all and (max-width: 1000px) {
	.service__slider-wrap {
		padding: 0 40px;
	}
	.statistics__block-main {
		font-size: 34px
	}
	.statistics__block-main.blue span {
		font-size: 24px
	}
	.statistics__block-more {
		font-size: 24px;
		top: 2px;
   		left: -20px;
	}
	.statistics__block-secondary {
		font-size: 16px
	}
	.statistics__wrap {
		grid-column-gap: 40px;
	}
	.statistics  {
		padding: 40px 0;
	}
	.popular__wrap {
	    grid-template-columns: repeat(4, 1fr);
	}
	.sales__block-title {
		font-size: 32px
	}
	.sales__block-text {
		font-size: 20px;
		margin-top: 25px
	}
	.category__block-title {
		top: 135px;
	}
}
@media all and (max-width: 900px) {
	.news__wrap {
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 35px;
	}
	.cars__logo-wrap {
		display: none;
	}
	.filter_wrap .title {
		margin-bottom: 15px;
		font-size: 18px
	}
	.filter_wrap {
		padding-top: 30px
	}
	.category__tile-wrap {
		grid-template-columns: repeat(2, 1fr);
	}
	.up {
		display: none;!important
	}
	.popular__wrap {
	    grid-template-columns: repeat(3, 1fr);
	}
	.filter_wrap ul {
	    grid-template-columns: repeat(4, 1fr);
	} 
	.advantages__wrap  {
		grid-template-columns: repeat(2, 1fr);
	}
	.sales .container {
		flex-direction: column;
	}
	.sales__block {
		width: 100%;
		margin-bottom: 20px;
	}
	.sales__block-text {
		margin-bottom: 90px
	}
	.sales__block {
		padding: 30px
	}
	.filter__wrap-header{
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.filter__wrap-form{
		margin-left: 0;
		grid-template-columns: 25% 25% 40%;
		grid-column-gap: 5%;
		width: 100%;
	}
	.filter__select-wrap.carGeneration,
	.filter__select-wrap{
		width: 100%;
	}
	.category__block-title {
		top: 150px
	}
}
@media all and (max-width: 810px){
	.filter_wrap .filter__step-third ul{
		grid-template-columns:1fr;
	}
	.filter__wrap-form {
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 20px;
	}
	.filter__select-wrap.carGeneration{
		grid-column-start: 1;
		grid-column-end: 3;
	}
}
@media all and (max-width: 670px) {
	.popular__wrap {
	    grid-template-columns: repeat(2, 1fr);
	    grid-row-gap: 20px;
	}
	.filter_wrap ul {
	    grid-template-columns: repeat(3, 1fr);
	} 
	.statistics__wrap {
	    grid-template-columns: repeat(2, auto);
	    grid-row-gap: 20px;
	    grid-column-gap: 5px;
	    width: calc(100% - 20px);
	}
	.statistics__block-main {
		padding-left: 25px;
		margin-bottom: 0
	}
	.statistics__block-secondary {
		padding-left: 25px
	}
	.statistics__block:nth-child(1) .statistics__block-main {
		padding-left: 0px
	}
	.statistics__block:nth-child(1) .statistics__block-secondary {
		padding-left: 0px
	}
	.statistics__block-more {
		left: 0;
		top: 6px;
	}
	.service__slider-wrap {
		padding: 0 10px;
		min-width: 500px;
	}
	.service__slider .slick-slide {
		margin: 0 10px;
	}
	h2	{
		font-size: 21px;
		padding: 0 10px;
		margin: 40px 0;
	}
	a.show__more {
		margin-top: 40px;
		width: 165px;
		height: 40px;
		font-size: 17px
	}
	.sales__block-button {
		padding: 0 17px;
		height: 45px;
		font-size: 17px;
	}
}
@media all and (max-width: 520px) {
	.advantages__wrap  {
		grid-template-columns: 1fr;
		grid-row-gap: 30px;
	}
	.advantages__block {
		padding-left: 60px
	}
	.advantages__block-icon {
		width: 50px;
		position: absolute;
		left: 0;
		top: -12px;
		margin: 0
	}
	.advantages__block-icon img {
		width: 100%;
		height: auto;
	}
	.advantages__block-title {
		margin-top: 0;
		margin-bottom: 25px;
		font-size: 17px
	}
	.advantages__block-text {
		font-size: 15px
	}
	.advantages {
		padding-bottom: 40px
	}
	.first_screen span.main_title {
		font-size: 24px
	}
	.first_screen span.secondary_title {
		font-size: 20px;
		margin-top: 15px;
		margin-bottom: 35px;
	}
	.first_screen {
		padding-left: 10px;
		padding-top: 30px;
		padding-bottom: 80px
	}
	.first_screen a {
		font-size: 17px;
		width: 140px;
		height: 40px
	}
	.filter_wrap ul li>a {
		font-size: 17px;
		padding-left: 20px;
	}
	.filter_wrap .title {
		font-size: 18px
	}
	.filter_wrap ul li {
		height: 30px
	}
	.filter_wrap {
		padding-bottom: 10px
	}
	.filter_wrap ul {
		height: 360px
	}
	.popular__block {
		max-width: 265px;
		margin: 0 auto;
	}
	.news__wrap {
	    grid-template-columns: 1fr;
	    grid-row-gap: 40px;
	}
	.news__block-img {
		height: 175px;
		margin-bottom: 25px;
	}
	.news__block-title {
		font-size: 17px;
		margin-bottom: 20px
	}
	.news__block-mark {
		font-size: 12px
	}
	.news, .category {
		padding-bottom: 40px
	}
	.category__block {
		background-position: bottom center;
	}
	.category__block-title {
		top: 135px;
	}
}
@media all and (max-width: 420px) {
	.category__block {
	    background-position: center -60px;
	}
	.category__tile-wrap {
		grid-template-columns:1fr;
	}
	.popular__wrap {
	    grid-template-columns:1fr;
	}
	.filter_wrap ul {
	    grid-template-columns: repeat(2, 1fr);
	} 
	.sales__block {
		background-image: url(../img/cashback_mobile.png);
	}
	.sales__block:nth-child(2) {
	    background-image: url(../img/gift_mobile.png);
	}
	.filter__select-wrap{
		grid-column-start: 1;
		grid-column-end: 3;
		height: 35px;
	}
	.filter__wrap-form {
		grid-row-gap: 15px;
		grid-column-gap: 20px;
	}
	.filter_wrap .title {
		padding-top: 0
	}
	.filter__wrap-form a[type="submit"] {
		align-self: right;
	}
	.filter_wrap ul li {
		height: auto;
		padding: 6px 0;
	}
	.filter_wrap ul li>p {
		line-height: 1;
	}
	.filter__wrap-header {
		margin-bottom: 20px
	}
	.filter_wrap ul li>p:before {
		top: 4px;
	}
}