h1 {
	font-size: 33px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 60px;
}
.content {
	border-top: 1px solid #e9ebed;
}

.breadcrumbs {
	margin: 35px 0;
}

p.delivery__place {
	font-size: 23px;
	margin-bottom: 20px;
}
p.delivery__place>span {
	font-size: 23px;
	color: #848e9d;
}

.order__tabs-wrap {
	width: 100%;
}

.order__content-wrap {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-bottom: 100px;
}
.order__tabs-header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-bottom: 5px solid #ccd3dc;
}
.order__tab-block {
	padding:25px 40px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	height: 100%;
	font-size: 21px;
	color: #848e9d;
	cursor: pointer;
}
.order__tab-block p {
	font-size: 15px;
	color: inherit;
	margin-top: 5px;
}
.order__tab-block.active {
	color: #64b2ab;
}
.order__tab-block.active:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	position: absolute;
	bottom: -5px;
	left: 0;
	background-color: #64b2ab;
}
.order__tab-content {
	width: 100%;
	padding-top: 50px;
	display: none;
}
.order__tab-content.active {
	display: block;
}

h3 {
	font-size: 21px;
	font-weight: 600;
	margin-bottom: 50px;
	margin-top: 0;
}
.order__tab-address {
	font-size: 19px;
	margin-bottom: 20px;
}
.order__tab-workTime {
	font-size: 17px;
	color: #848e9d;
	margin-bottom: 50px;
}
.order__map-wrap {
	width: 100%;
	height: 480px;
	margin-bottom: 50px;
}

.order__customers-data {
	border-top: 3px solid #e1e3e5;
	padding-top: 50px;
}
.customers__data-wrap {
	margin-bottom: 40px;
	width: 580px;
}
.order__customers-data input {
	display: block;
	background-color: #fff;
	width: 100%;
	height: 45px;
	border-radius: 5px;
	border: 1px solid #e1e3e5;
	padding-left: 20px;
	font-size: 17px;
}
.order__customers-data input::placeholder {
	color: #474747;
}
.order__customers-data input:focus::placeholder {
	color: transparent;
}
.order__customers-data input:focus{
	outline: none;
}
.customers__data-wrap span  {
	color: var(--lightred-color);
	font-size: 20px;
	position: absolute;
	top: 1px;
	right: -20px;
	display: block;
	pointer-events: none;
}
.customers__data-wrap:last-child {
	margin-bottom: 70px;
}

.payment__input-wrap {
	display: grid;
	grid-template-columns: repeat(3, 300px);
	grid-template-rows: 1fr;
	grid-column-gap: 100px;
	padding-left: 45px;
}
.payment__input-wrap input {
	display: none;
}
.payment__input-wrap label {
	font-size: 19px;
	display: block;
	margin-bottom: 20px;
	cursor: pointer;
}
.payment__input-wrap label:before {
	content: '';
	display: block;
	position: absolute;
	left: -45px;
	top: -3px;
	border-radius: 50%;
	border:1px solid #e1e3e5;
	width: 25px;
	height: 25px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.payment__input-wrap input:checked ~ label:before {
	background-image: url(../img/checked_dot.png);
}
.payment__input-wrap p {
	font-size: 17px;
	color: #848e9d;
}


.tab__content-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.tab__content-view {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.tab__content-view>div {
	font-size: 17px;
	color: #848e9d;
	display: flex;
	margin-right: 45px;
	cursor: pointer;
}
.tab__content-view>div:last-child {
	margin-right: 0;
}
.tab__content-view>div i{
	font-size: 19px;
	color: #848e9d;
	display: block;
	margin-right: 15px;
}
.tab__content-view>div.active {
	color: var(--blue-color);
}
.tab__content-view>div.active i{
	color: var(--blue-color);
}

.order__table-deliveryPoints {
	width: 100%;
	display: none;
}
.order__table-deliveryPoints.active {
	display: block;
}
.deliveryPoints__row {
	width: 100%;
	padding:60px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #e1e3e5;
}
.deliveryPoints__row:last-child {
	border-bottom: 3px solid #e1e3e5;
}
.deliveryPoints__address {
	width: 50%;
	padding-right: 10px;
}
.deliveryPoints__address .address {
	font-size: 19px;
	margin-bottom: 20px;
	width: 100%;
}
.deliveryPoints__address .worktime {
	font-size: 17px;
	color: #848e9d;
	width: 100%;
}
.deliveryPoints__time {
	font-size: 17px;
	width: 25%;
}
.deliveryPoints__time-button {
	display: flex;
	justify-content: flex-end;
	width: 25%;
}
.deliveryPoints__time-button input {
	display: none;
}
.deliveryPoints__time-button label>.chosen__button{
	width: 120px;
	height: 45px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 19px;
	color: #fff;
	background-color: var(--lightred-color);
	display: none;
	cursor: pointer;
}
.deliveryPoints__time-button label>.offer__button {
	width: 220px;
	height: 45px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 19px;
	color: var(--blue-color);
	border: 1px solid var(--blue-color);
	transition: all 0.2s linear;
	cursor: pointer;
}
.deliveryPoints__time-button .offer__button:hover {
	color: #fff;
	background-color: var(--blue-color);
}
.deliveryPoints__time-button input:checked ~ label>.offer__button{
	display: none;
}
.deliveryPoints__time-button input:checked ~ label>.chosen__button{
	display: flex;
}

.map__view-deliveryPoints {
	width: 100%;
	padding-bottom: 50px;
	border-bottom: 3px solid #e1e3e5;
	display: none;
}
.map__view-deliveryPoints.active {
	display: block;
}
.map__view-deliveryPoints .map__wrap {
	width: 100%;
	height: 590px;
}

.order__notification {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 80px;
	margin-bottom: 60px;
}
.order__notification img {
	display: block;
	margin-right: 30px;
}
.order__notification p {
	font-size: 19px;
	color: var(--blue-color);
}

.order__date-wrap {
	width: 100%;
}
.order__date-wrap p {
	font-size: 17px;
	margin-bottom: 25px;
}
.input__date-wrap {
	width: 265px;
	height: 40px;
	border: 1px solid #e1e3e5;
	border-radius: 3px;
}
.input__date-wrap:after {
	content: '';
	display: block;
	width: 40px;
	height: 37px;
	position: absolute;
	top: 1px;
	right: 1px;
	background-color: #fff;
	background-image: url(../img/calendar_icon.png);
	background-position: center center;
	background-size: 19px 19px;
	background-repeat: no-repeat;
	pointer-events: none;
	z-index: 5;
}
.input__date-wrap input {
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	box-shadow: none;
	background-color: #fff;
	font-size: 17px;
	padding-left: 20px;
}
.input__date-wrap input:focus {
	outline: none;
}

#deliveryInstallation .order__customers-data,
#deliveryСourier .order__customers-data  {
	border-top: none;
	padding-top: 70px;
}
#deliveryСourier .order__notification {
	margin-top: 0;
}
.delivery__address-wrap {
	margin-bottom: 60px;
}
.delivery__input-wrap {
	display: grid;
	grid-template-columns: 440px repeat(3, 170px);
	grid-column-gap: 35px;
	margin-bottom: 35px;
	width: 1060px;
}
.delivery__input-wrap input {
	width: 100%;
	display: block;
	height: 40px;
	border: 1px solid #e1e3e5;
	font-size: 17px;
	border-radius: 5px;
	padding-left: 20px;
}
.delivery__input-wrap input:focus {
	outline: none;
}
.delivery__input-wrap input:focus::placeholder {
	color: transparent;
}
.delivery__input-wrap span {
	color: var(--lightred-color);
	font-size: 20px;
	position: absolute;
	top: 1px;
	right: -20px;
	display: block;
	pointer-events: none;
}
.delivery__address-wrap p.note {
	font-size: 15px;
	color: #848e9d;
}




.order__sidebar-wrap {
	width: 415px;
	min-width: 415px;
	margin-left: 70px;
}
.order__summary-wrap {
	background-color: #f0f2f4;
	width: 100%;
}
.order__list-wrap {
	width: 100%;
	max-height: 520px;
	overflow: hidden;
	cursor: pointer;
}
.order__list-wrap.active {
	max-height: 100%;
}
.order__summary-wrap .quick__review-row {
	padding: 40px;
	height: 175px;
}
.order__summary-wrap .summary__wrap {
	padding-top: 0;
	margin-bottom: 30px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.order__summary-wrap .goods__summary,
.total__goods-amount,
.total__goods-amount.price {
	font-size: 19px;
}
.order__summary-wrap .price__summary {
	font-size: 24px;
	font-weight: 600;	
}
.total__block-row {
	padding-top: 0;
	margin-bottom: 30px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.order__summary-wrap .quick__review-summary {
	padding: 40px;
}
.show__more-goods {
	width: 100%;
	padding:10px 40px 40px 40px;
	cursor: pointer;
}
.show__more-goods p{
	font-size: 17px;
	color: #848e9d;
	width: 100px;
}
.show__more-goods p>span {
	font-size: 17px;
	color: #848e9d;
}
.show__more-goods p:after {
	content: '';
	display: block;
	margin-left: 10px;
	border-color: #848e9d transparent;
	border-style: solid;
	border-width:5px 5px 0px 5px;
    position: absolute;
    top: 8px;
    right: -15px;
}
.order__delivery-summary {
	padding: 40px;
	background-color: #f8f9fa;
}
.order__delivery-summary p {
	font-size: 17px;
	line-height: 1.6;
}
.order__delivery-summary p.title {
	font-size: 19px;
	font-weight: 600;
	margin-bottom: 40px;
}

.order__additional-info {
	padding: 40px;
	background-color: #e4e6e8;
}
.order__additional-info p {
	font-size: 17px;
	margin-bottom: 30px;
	font-weight: 600;
	line-height: 1.6;
}
.order__additional-info p.additional__info-2 {
	font-size: 15px;
}
.order__additional-info p.additional__info-2 a{
	font-size: 15px;
	color: #848e9d;
	line-height: 1.6;
}
.order__additional-info p.additional__info-2 a:hover {
	color: var(--green-color);
}



.choose__city {
	padding: 55px 65px;
	width: 100%;
	max-width: 915px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 5px;
	animation-name: fadeInDown;
	max-height: 100vh;
	overflow-y: auto;
}
.choose__city-title{
	font-size: 32px;
	margin-bottom: 20px;
}
.total__amount-cities {
	font-size: 19px;
	color: #848e9d;
	margin-bottom: 35px;
}
.search__wrap {
	width: 100%;
	height: 40px;
	margin-bottom: 50px;
}
.search__wrap input {
	display: block;
	width: 100%;
	height: 40px;
	border: 1px solid #e1e3e5;
	border-radius: 5px;
	background-color: #fff;
	font-size: 17px;
	padding-left: 20px;
}
.search__wrap button {
	position: absolute;
	top: 2px;
	right: 1px;
	width: 80px;
	height: 36px;
	background-color: #fff;
	border-radius: 5px;
	border: none;
}
.search__wrap button>img {
	width: 25px;
}
.choose__city-list {
	width: 100%;
}
.choose__city-list .title {
	font-size: 23px;
	font-weight: 700;
	margin-bottom: 20px;
}
.choose__city-list ul {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
}
.choose__city-list ul li {
	width: 100%;
	padding: 10px 10px 10px 0;
	cursor: pointer;
}
.choose__city-list ul li:hover {
	color: var(--blue-color);
}


.deliveryPoint__parent-wrap {
	width: 100%;
	padding-bottom: 50px;
	border-bottom: 3px solid #e1e3e5;
	overflow-y: hidden;
	overflow-x: visible;
}
.deliveryPoint__table-wrap {
	width: 100%;
	max-height: 600px;
	padding-right: 5px;
	overflow-y: auto;
}
.deliveryPoint__table-wrap::-webkit-scrollbar {
	width: 5px;
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 24%,rgba(204,211,220,1) 25%,rgba(204,211,220,1) 75%,rgba(255,255,255,1) 76%,rgba(255,255,255,1) 100%);
}
.deliveryPoint__table-wrap::-webkit-scrollbar-thumb {
	width: 5px;
	background-color: var(--blue-color);
	border-radius: 2px;
}
.deliveryPoint__table-wrap::-webkit-scrollbar-button {
	display: none;
}
.deliveryPoint__table {
	width: 100%;
}
.deliveryPoint__row {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	border-bottom: 1px solid #e1e3e5;
	padding-top: 30px;
	padding-bottom: 10px;
}
.deliveryPoint__row:first-child {
	padding-top: 0;
}
.deliveryPoint__row:last-child {
	border-bottom: none;
}
.deliveryPoint__row .checkbox__wrap {
	padding: 0;
	width: 25px;
	min-height: 35px;
	display: flex;
	align-items: center;
}
.deliveryPoint__row .checkbox__wrap input {
	display: none;
}
.deliveryPoint__row .checkbox__wrap label {
	display: block;
	width: 25px;
	height: 25px;
	min-width: 25px;
	border: 1px solid #e1e3e5;
	cursor: pointer;
	border-radius: 50%;
}
.deliveryPoint__row .checkbox__wrap input:checked ~ label {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url(../img/checked_dot.png);
}
.deliveryPoint__date {
	font-size: 15px;
	padding-left: 15px;
	width: auto;
	min-height: 35px;
	display: flex;
	align-items: center;
	padding-right: 10px;
}
.deliveryPoint__select-wrap {
	display: block;
	border: 1px solid #e1e3e5;
	width: 200px;
	height:35px;
	border-radius: 5px;
	background-color: #fff;
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	font-size: 17px;
	color: #474747;
}
.deliveryPoint__select-wrap select{
	display: block;
	width: 100%;
	height:100%;
	border-radius: 5px;
	background-color: #fff;
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	font-size: 15px;
	color: #474747;
	border: none;
	padding-left: 25px;
	cursor: pointer;
}
.deliveryPoint__select-wrap:after {
	content: '';
	position: absolute;
	z-index: 5;
	width: 30px;
	height: 100%;
	right: 0;
	top: 0;
	background-color: #fff;
	border-radius: 5px;
	display: block;
	pointer-events: none;
}
.deliveryPoint__select-wrap:before {
	content: '';
	position: absolute;
	z-index: 6;
	border-color: #848e9d transparent;
	border-style: solid;
	border-width:5px 5px 0px 5px;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	pointer-events: none;
}
.deliveryPoint__select-wrap select:focus{
	outline: none;
}

.deliveryPoint__price {
	font-size: 17px;
	padding-left: 50px;
	padding-right: 10px;
	width: auto;
	min-width: 12%;
	min-height: 35px;
	display: flex;
	align-items: center;
}

.deliveryPoint__icons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90px;
	float: right;
	min-height: 35px;
	display: flex;
	align-items: center;
}
.deliveryPoint__icons img{
	width: 40%;
}

.deliveryPoint__company {
	width:115px;
	padding-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 50px;
	min-height: 35px;
	display: flex;
	align-items: center;
}
.deliveryPoint__company img {
	width: 100%;
	max-width: 70px;
}

.deliveryPoint__company-title {
	font-size: 15px;
	width: 21%;
	padding-right: 10px;
	min-height: 35px;
	display: flex;
	align-items: center;
}


.deliveryPoint__company-adress p {
	margin-bottom: 5px;
	font-size: 15px;
	padding-left: 25px;
}
.deliveryPoint__company-adress p.grey {
	font-size: 13px;
	color: #848e9d;
} 
.deliveryPoint__company-adress .select__wrap {
	margin-bottom: 30px;
}
.deliveryPoint__company-adress .select__wrap{
	display: block;
	border: 1px solid #e1e3e5;
	width: 200px;
	height:35px;
	border-radius: 5px;
	background-color: #fff;
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	font-size: 17px;
	color: #474747;
}
.deliveryPoint__company-adress .select__wrap select{
	display: block;
	width: 100%;
	height:100%;
	border-radius: 5px;
	background-color: #fff;
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	font-size: 15px;
	color: #474747;
	border: none;
	padding-left: 25px;
	cursor: pointer;
}
.deliveryPoint__company-adress .select__wrap:after {
	content: '';
	position: absolute;
	z-index: 5;
	width: 30px;
	height: 100%;
	right: 0;
	top: 0;
	background-color: #fff;
	border-radius: 5px;
	display: block;
	pointer-events: none;
}
.deliveryPoint__company-adress .select__wrap:before {
	content: '';
	position: absolute;
	z-index: 6;
	border-color: #848e9d transparent;
	border-style: solid;
	border-width:5px 5px 0px 5px;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	pointer-events: none;
}
.deliveryPoint__company-adress .select__wrap select:focus{
	outline: none;
}

.order__deliveryCompany-docs {
	width: 100%;
	max-width: 820px;
}
.deliveryCompany__tabs-wrap {
	width: 100%;
	border-bottom: 3px solid #ccd3dc;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}
.deliveryCompany__tab {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 40px;
	height: 50px;
	font-size: 19px;
	cursor: pointer;
	color: #ccd3dc;
}
.deliveryCompany__tab.active {
	color: var(--blue-color);
}
.deliveryCompany__tab.active:before {
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	background-color: var(--blue-color);
	position: absolute;
	bottom: -3px;
	left: 0;
}
.deliveryCompany__content-wrap {
	width: 100%;
	padding-top: 60px;
	display: none;
}
.deliveryCompany__content-wrap.active {
	display: block;
}
.deliveryCompany__content-wrap input {
	display: block;
	width: 410px;
	height: 45px;
	border: 1px solid #e1e3e5;
	border-radius: 3px;
	padding-left: 25px;
	font-size: 17px;
	margin-bottom: 30px;
}
.deliveryCompany__content-wrap input:focus {
	outline: none;
}
.deliveryCompany__content-wrap input:focus::placeholder {
	color: transparent;
}
.deliveryCompany__content-wrap p {
	color: #b2555e;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.deliveryCompany__content-wrap p>span {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 22px;
	min-height: 22px;
	min-width: 22px;
	height: 22px;
	border-radius: 50%;
	font-size: 17px;
	font-weight: 700;
	border: 1px solid #b2555e;
	margin-right: 15px;
}


.mobile__tab-trigger {
	display: none;
}




@media all and (max-width: 1730px) {
	.deliveryPoint__date {
		padding-left: 10px;
	}
	.deliveryPoint__price {
		padding-left: 25px;
	}
	.deliveryPoint__company {
		margin-left: 25px
	}
}
@media all and (max-width: 1700px) {
	.order__tab-block {
		font-size: 19px
	}
	.payment__input-wrap {
		grid-template-columns: repeat(3, 200px);
	}
}
@media all and (max-width: 1600px) {
	.order__tab-block {
		padding: 15px 20px;
	}
	.delivery__input-wrap {
		grid-template-columns: 250px repeat(3, 140px);
		width: 775px;
	}
	.deliveryPoint__company {
		width: 60px;
		margin-left: 10px
	}
	.deliveryPoint__select-wrap {
		width: 155px;
	}
	.deliveryPoint__select-wrap select,
	.deliveryPoint__company-adress .select__wrap select {
		padding-left: 15px;
		font-size: 13px
	}
	.deliveryPoint__company-adress p {
		padding-left: 15px
	}
	.deliveryPoint__icons {
		width: 60px
	}
	.deliveryPoint__company-adress .select__wrap {
		width: 170px;
	}
}
@media all and (max-width: 1440px) {
	.order__sidebar-wrap {
		margin-left: 30px;
		width: 350px;
		min-width: 350px;
	}
}
@media all and (max-width: 1380px) {
	h1 {
		font-size: 28px;
		margin-bottom: 40px
	}
	p.delivery__place,
	p.delivery__place>span {
		font-size: 20px;
	}
	.order__tab-block {
		font-size: 17px
	}
	.order__tab-block p {
		font-size: 13px
	}
	.order__tab-content {
		padding-top: 30px
	}
	h3 {
		margin-bottom: 30px;
		font-size: 20px
	}
	.order__tab-address {
		font-size: 17px;
		margin-bottom: 10px
	}
	.order__tab-workTime {
		font-size: 15px;
		margin-bottom: 30px
	}
	.order__map-wrap {
		margin-bottom: 30px
	}
	.payment__input-wrap {
		column-gap: 70px;
	}
	.payment__input-wrap label {
		font-size: 17px
	}
	.payment__input-wrap p {
		font-size: 15px
	}
	.order__customers-data {
		padding-top: 30px
	}
	.customers__data-wrap {
		margin-bottom: 20px
	}
	.customers__data-wrap:last-child {
		margin-bottom: 30px
	}
	.order__summary-wrap .quick__review-row,
	.order__delivery-summary,
	.order__summary-wrap .quick__review-summary,
	.order__additional-info {
		padding: 20px
	}
	.show__more-goods {
		padding: 10px 20px 20px 20px;
	}
	.order__delivery-summary p.title {
		font-size: 17px;
		margin-bottom: 20px
	}
	.order__additional-info p {
		margin-bottom: 20px
	}
}
@media all and (max-width: 1280px) {
	.order__tab-block {
		font-size: 15px;
		padding: 10px 15px;
	}
	.order__tab-block p {
		margin-top: 0;
		font-size: 12px;
	}
	.payment__input-wrap {
	    column-gap: 45px;
	}
	.order__sidebar-wrap {
		width: 290px;
		min-width: 290px;
	}
	.order__tab-block {
		height: 50px;
	}
	.payment__input-wrap {
	    grid-template-columns: repeat(3, 160px);
	}
	.order__tab-block {
		padding-top: 0
	}
	.deliveryPoints__row {
		padding: 30px 0;
	}
	.deliveryPoints__time-button label>.offer__button {
		font-size: 17px;
	}
	.deliveryPoints__time-button label>.offer__button {
		width: 180px
	}
	.deliveryPoints__time {
		width: 20%
	}
	.deliveryPoints__address {
		width: 55%
	}
	.deliveryPoints__address .address {
		font-size: 17px;
		margin-bottom: 10px
	}
	.deliveryPoints__address .worktime {
		font-size: 15px
	}
	.order__notification {
		margin-top: 30px;
		margin-bottom: 30px
	}
	.order__notification p {
		font-size: 17px
	}
	#deliveryInstallation .order__customers-data, 
	#deliveryСourier .order__customers-data {
		padding-top: 40px
	}
	.delivery__input-wrap {
		grid-template-rows: 1fr 1fr;
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 20px;
		grid-column-gap: 20px;
		width: 100%;
	}
	.delivery__address-wrap {
		margin-bottom: 30px
	}
	.deliveryPoint__price {
		font-size: 15px;
		padding-left: 10px
	}
}
@media all and (max-width: 990px) {
	.order__content-wrap {
		flex-direction: column;
		padding-bottom: 0
	}
	.order__sidebar-wrap {
		margin-left: 0;
		width: calc(100% + 20px);
		max-width: calc(100% + 20px);
		left: -10px;
	}
	.order__summary-wrap .quick__review-row, 
	.order__delivery-summary, 
	.order__summary-wrap .quick__review-summary, 
	.order__additional-info {
		padding: 30px 10px;
	}
	.order__summary-wrap .quick__review-row {
		height: 160px
	}
	.order__list-wrap {
		height: 475px
	}
	.order__customers-payment {
		margin-bottom: 20px
	}
	h1 {
		margin-top: 30px;
		font-size: 24px;
		margin-bottom: 30px
	}
	.delivery__input-wrap {
		grid-template-rows: 1fr 1fr;
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 20px;
		grid-column-gap: 20px;
		width: 100%;
		padding-right: 25px;
	}
	.delivery__input-wrap span {
		right: 0
	}
	.deliveryPoint__company-adress .select__wrap:before,
	.deliveryPoint__select-wrap:before {
		right: 10px
	}
}
@media all and (max-width: 750px) {
	.order__summary-wrap .goods__summary, 
	.total__goods-amount, 
	.total__goods-amount.price {
		font-size: 17px
	}
	.order__summary-wrap .price__summary {
		font-size: 23px
	}
	.total__block-row {
		margin-bottom: 20px
	}
	.order__delivery-summary p,
	.order__additional-info p {
		line-height: 1.4
	}
	.payment__input-wrap {
		width: 100%;
		display: block;
	}
	.payment__input-block {
		margin-bottom: 30px
	}
	.payment__input-wrap label {
		margin-bottom: 10px
	}
	.order__customers-data input {
		height: 30px;
		font-size: 15px
	}
	.customers__data-wrap {
		width: 100%;
		padding-right: 20px;
	}
	.customers__data-wrap span {
		right: 0
	}
	.order__tabs-header {
		display: none;
	}
	.order__tab-content {
		display: block;
		height: 70px;
		overflow: hidden;
		transition: all 0.2s linear;
		padding: 0 10px;
		border-bottom: 1px solid #e9ebed;
		width: calc(100% + 20px);
		left: -10px;
	}
	.order__tab-content:last-child {
		border-bottom: none;
	}
	.order__tab-content.active {
		height: auto;
	}
	.mobile__tab-trigger {
		width: 100%;
		display: flex;
		padding: 25px 0;
		margin-bottom: 10px;
		align-items: center;
		justify-content: space-between;
		font-size: 17px;
		color: #848e9d;
	}
	.mobile__tab-trigger:after {
		content: '';
		position: relative;
		border-color: #848e9d transparent;
		border-style: solid;
		border-width:5px 5px 0px 5px;
		transform: rotateZ(180deg);
		transition: all 0.2s linear;
	}
	.order__tab-content.active .mobile__tab-trigger:after {
		transform: rotateZ(0deg);
		border-color: var(--blue-color) transparent;
	}
	.order__tab-content.active .mobile__tab-trigger {
		color: var(--blue-color);
	}
	h1 {
		font-size: 21px
	}
	p.delivery__place, p.delivery__place>span {
		font-size: 17px;
		margin-bottom: 10px
	}
	h3 {
		font-size: 17px;
		margin-bottom: 20px;
	}
	.order__tab-address {
		font-size: 15px
	}
	.order__tab-workTime {
		font-size: 13px
	}
	.order__map-wrap {
		height: 475px;	
	}
	.order__map-wrap {
		border-bottom: none;
		margin-bottom: 0
	}
	.order__customers-data  {
		padding-top: 20px;
		border-top: none;
	}
	.deliveryPoints__row {
		display: grid;
		grid-template-columns: 1fr 230px;
		grid-row-gap: 20px;
	}
	.deliveryPoints__row:first-child {
		padding-top: 0
	}
	.deliveryPoints__address {
		grid-column-start: 1;
		grid-column-end: 3;
		width: 100%
	}
	.deliveryPoints__time-button,
	.deliveryPoints__time {
		width: 100%;
	}
	.deliveryPoints__row:last-child {
		border-bottom: none;
	}
	.order__notification {
		margin-top: 0;
		align-items: flex-start;
	}
	.order__notification p{
		font-size: 15px;
		line-height: 1.6
	}
	.order__notification img  {
		margin-right: 15px;
		width: 25px;
	}
	.deliveryCompany__content-wrap {
		padding-top: 30px;
		padding-bottom: 30px;	
	}
	.deliveryPoint__table-wrap {
		max-height: 100%;
	}
	.deliveryPoint__row {
		display: grid;
		grid-template-columns: 25px 25px 1fr;
		grid-template-rows: auto;
		grid-column-gap: 15px;
		grid-row-gap: 10px;
	}
	.deliveryPoint__row .checkbox__wrap{
		height: auto;
	}
	.deliveryPoint__date {
		padding: 0;
		grid-column-start: 2;
		grid-column-end: 4;
	}
	.deliveryPoint__select-wrap,
	.deliveryPoint__company-adress .select__wrap{
		padding: 0;
		grid-column-start: 1;
		grid-column-end: 4;
		width: 100%;
		height: 30px;
		margin: 0;
	}
	.deliveryPoint__company-adress {
		min-height: 30px;
		height: auto;
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.deliveryPoint__price,
	.deliveryPoint__company {
		padding: 0;
		margin: 0;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.deliveryPoint__icons {
		width: 100%;
		justify-content: flex-end;
	}
	.deliveryPoint__icons img {
		width: 30px;
	}
	.deliveryPoint__icons img:first-child {
		margin-right: 30px
	}
	.deliveryPoint__company-title {
		width: 100%;
	}
	.deliveryPoint__row {
		padding:20px 10px 30px 10px;
	}
	.deliveryPoint__parent-wrap {
		width: calc(100% + 20px);
		left: -10px;
		padding: 0;
	} 
	.deliveryPoint__table-wrap {
		padding: 0
	}
	.deliveryCompany__tab {
		font-size: 17px;
		padding: 0 30px;
	}
	.deliveryCompany__content-wrap input{
		width: 100%;
		height: 35px;
		font-size: 15px;
		margin-bottom: 20px
	}
	.choose__city {
		padding: 35px 10px;
	}
}
@media  all and (max-width: 700px){
	.choose__city{
		top: 0;
	}
	.choose__city-title {
		font-size: 22px;
		margin-bottom: 15px;
	}
	.total__amount-cities {
		font-size: 17px;
		margin-bottom: 25px;
	}
	.search__wrap {
		margin-bottom: 25px
	}
	.choose__city-list .title {
		font-size: 17px;
		margin-bottom: 10px
	}
	.choose__city-list ul li {
		font-size: 15px
	}
}
@media  all and (max-width: 600px) {
	.choose__city-list ul {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media  all and (max-width: 500px) {
	.tab__content-view>div {
		margin-right: 10px;
		font-size: 0
	}
	.deliveryPoints__address .address {
		font-size: 17px
	}
	.deliveryPoints__address .worktime {
		font-size: 13px
	}
	.order__date-wrap p {
		font-size: 15px;
		margin-bottom: 15px
	}
	#deliveryInstallation .order__customers-data, 
	#deliveryСourier .order__customers-data {
		padding-top: 20px
	}
	.delivery__input-wrap {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		margin-bottom: 20px
	}
	.delivery__input-wrap input {
		height: 30px;
		font-size: 15px
	}
	.delivery__input-wrap input[placeholder="Улица"] {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.delivery__address-wrap p.note {
		font-size: 13px
	}
	.input__date-wrap {
		height: 30px;
	}
	.input__date-wrap:after {
		height: 26px;
	}
	.deliveryCompany__content-wrap p{
		align-items: flex-start;
		justify-content: flex-start;
	}
	.choose__city-list ul {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media  all and (max-width: 420px) {
	.order__tab-content#deliveryСourier {
		height: 90px;
	}
	.order__tab-content#deliveryСourier.active {
		height: auto;
	}
}
@media  all and (max-width: 394px) {
	.order__tab-content#deliveryOverMKAD {
		height: 90px;
	}
	.order__tab-content#deliveryOverMKAD.active {
		height: auto;
	}
}