header {
	border-bottom: 1px solid #e9ebed;
}
.breadcrumbs {
	margin: 35px 0;
}

h2 {
	text-transform: uppercase;
	font-size: 33px;
	font-weight: 700;
	text-align: left;
	margin: 90px 0;
}
.service__slider-wrap {
	width: 100%;
	padding: 0 75px;
}
.service__slider {
	width: 100%;
}
.popular__block {
	width: 100%;
	border: 1px solid #e1e3e5;
	border-radius: 5px;
}
.slick-slide {
	margin:0 15px;
}
.popular__block-imgWrap {
	width: 100%;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #e1e3e5;
}
.popular__block-imgWrap img {
	max-width: 100%;
	max-height: 100%;
}
.popular__block-textWrap {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 25px 10px;
}
.popular__block-price {
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.popular__block-price span{
	color: var(--blue-color);
	font-weight: 600;
}
.popular__block-type {
	color: #848e9d;
	font-size: 15px;
	margin-bottom: 10px;
}
.popular__block-name {
	font-size: 19px;
	color: #474747;
	text-align: center;
	margin-bottom: 20px;
}
.popular__block-article {
	font-size: 15px;
	margin-bottom: 10px;
}
.popular__block-article span {
	color: #848e9d;
}
.popular__block-availiability {
	font-size: 15px;
	margin-bottom: 30px;
}
.popular__block-availiability span {
	color: #b2d064;
}
button.buy {
	width: 110px;
	height: 45px;
	color: #fff;
	font-size: 17px;
	background-color: var(--lightred-color);
	transition: all 0.2s ease;
}
button.buy:hover {
	background-color: var(--red-color);
}

.slick-prev, .slick-next {
	width: 15px;
	height: 45px;
	background-image: url(../img/slider_arrow.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.slick-prev:focus, .slick-next:focus,
.slick-prev:hover, .slick-next:hover {
	background-image: url(../img/slider_arrow.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.slick-next {
	transform: translate(0, -50%) rotateZ(180deg);
}
.slick-prev:before, .slick-next:before {
	display: none;
}
.previous__goods-wrap {
	padding-bottom: 100px;
}
.similar__goods-wrap {
	width: 100%;
	border-top: 2px solid #e9ebed;
}


.product__mainInfo-wrap {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.product__gallery-wrap {
	width: 720px;
	margin-right: 100px;
}
.product__type {
	font-size: 19px;
	color: #848e9d;
	margin-bottom: 20px;
}
.product__name {
	font-size: 32px;
	margin-bottom: 35px;
}
.product__article {
	font-size: 17px;
	color: #848e9d;
	margin-bottom: 10px;
}
.product__availiability {
	font-size: 17px;
	color: var(--green-color);
	margin-bottom: 40px;
}
.product__color-title {
	font-size: 19px;
	font-weight: 600;
	margin-bottom: 25px;
}
.product__color-flex {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 50px;
}
.product__color-block {
	width: 40px;
	height: 40px;
	margin-right: 15px;
}
.product__color-block input {
	display: none;
}
.product__color-block label {
	display: block;
	cursor: pointer;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.product__color-block.white label {
	border: 1px solid #e1e3e5;
	background-color: #fff;
}
.product__color-block.black label {
	background-color: #000;
}
.product__color-block.blue label {
	background-color: var(--blue-color);
}
.product__color-block.orange label {
	background-color: #f2bc3a;
}
.product__color-block input:checked ~ label {
	box-shadow: 0px 0px 0px 2px #fff, 
				0px 0px 0px 3px #848e9d;
}
.product__summary-wrap {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	margin-bottom: 50px;
}
.product__amount-wrap {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.amount__button {
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.amount__button.decrease:after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #848e9d;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.amount__button.increase:after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #848e9d;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.amount__button.increase:before {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #848e9d;
	position: absolute;
	top: 19px;
	left: 0;
	transform:rotateZ(90deg) translateX(-50%);
}
.product__amount-wrap input {
	display: block;
	width: 60px;
	height: 40px;
	margin: 0 20px;
	border: 1px solid #e1e3e5;
	border-radius: 5px;
	text-align: center;
	font-size: 17px;
}
.product__amount-wrap input::-webkit-outer-spin-button,
.product__amount-wrap input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product__amount-wrap input[type=number] {
  -moz-appearance: textfield;
}
.product__amount-wrap input:focus {
	outline: none;
}
.product__price {
	font-size: 42px;
	color: var(--blue-color);
	margin: 0 60px;
	line-height: 1;
}
.product__price-old {
	font-size: 20px;
	color: #848e9d;
	margin-right: 30px;
}
.product__price-old:after {
	width: 100%;
	height: 1px;
	background-color: #848e9d;
	content: '';
	position: absolute;
	top: 45%;
	left: 0;
	pointer-events: none;
}
.product__price-discount {
	display: flex;
	align-items: center;
	justify-content:center;
	width: 70px;
	height: 26px;
	border: 1px solid var(--lightred-color);
	color: var(--lightred-color);
	font-size: 15px;
	border-radius: 13px;
}
.product__delivery-time {
	margin-bottom: 75px;
}
.product__delivery p{
	font-size: 17px;
	color: #474747;
	margin-bottom: 15px;
}
.product__delivery p.product__delivery-price span{
	font-weight: 600;
}
.product__delivery p.product__delivery-address span.company{
	font-weight: 600;
}
.product__delivery p.product__delivery-time {
	color: #848e9d;
}
.details__icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 2px solid var(--green-color);
	color: var(--green-color);
	font-size: 19px;
	font-style: italic;
	font-weight: 700;
	margin-left: 20px;
	font-family: Times new roman;
}
.details__block {
	position: absolute;
	left: 200%;
	top: -7px;
	padding: 10px;
	width: 240px;
	color: #fff;
	background-color: var(--green-color);
	font-size: 15px;
	font-weight: 400;
	line-height: 1.6;
	border-radius: 5px;
	font-style: normal;
	display: none;
	cursor: pointer;
}
.details__block:before {
	content: '';
	width: 8px;
	height: 8px;
	background-color: var(--green-color);
	position: absolute;
	top: 13px;
	left: -3px;
	transform: rotateZ(45deg);
}
.details__icon:hover .details__block {
	display: block;
	animation-name: fadeIn;
	animation-duration: 0.2s;
}
.product__buy-button button {
	width: 150px;
	height: 50px;
	font-size: 19px;
	color: #fff;
	background-color: var(--lightred-color);
	transition: all 0.2s linear;
}
.product__buy-button button:hover {
	background-color: var(--red-color);
}
 


.es-carousel-wrapper {
	background: transparent;
	box-shadow: none;
}
.es-carousel {
	background: transparent;
}



.popular__block-sale {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 15px;
	left: 15px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 12px;
	color: #fff;
	background-color: var(--red-color);
	border: 1px solid #bd9ca0;
	box-shadow:0 0 0 3px var(--red-color);
	pointer-events: none;
}



@media all and (max-width: 1280px) {
	h2	{
		font-size: 28px;
		margin: 60px 0;
	}
}
@media all and (max-width: 1000px) {
	.service__slider-wrap {
		padding: 0 40px;
	}
}
@media all and (max-width: 670px) {
	h2	{
		font-size: 21px;
		padding: 0 10px;
		margin: 40px 0;
	}
	.service__slider-wrap {
		padding: 0 10px;
		min-width: 500px;
	}
	.service__slider .slick-slide {
		margin: 0 10px;
	}
}