h1 {
	font-size: 33px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 60px;
}
.content {
	border-top: 1px solid #e9ebed;
}

.breadcrumbs {
	margin: 35px 0;
}

.page__description {
	font-size: 19px;
	line-height: 1.6;
	margin-bottom: 60px;
	width: 100%;
	max-width: 1150px;
}

.service__tiles-wrap {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}
.service__tile {
	width: 100%;
	border: 1px solid #e9ebed;
	border-radius: 5px;
	padding: 40px 50px 50px 40px;
}
.tile__header {
	width: 100%;
	display: flex;
	align-content: flex-start;
	justify-content: flex-start;
	margin-bottom: 50px;
}
.tile__image-wrap {
	width: 140px;
	min-width: 140px;
	height: 140px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 30px;
}
.tile__image-wrap img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.tile__title-wrap {width: 100%;}
.tile__title-wrap .title {
	font-size: 23px;
	margin-bottom: 15px;
}
.tile__price-wrap {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.tile__price-wrap>* {
	font-size: 21px;
	color: #848e9d;
}
.service__description {
	font-size: 17px;
	color: #58626e;
	margin-bottom: 45px;
}
.service__submit-button {
	width: 230px;
	height: 40px;
	background-color: var(--lightred-color);
	color: #fff;
	font-size: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 5px;
}

h2 {
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	margin: 70px 0;
}
.service__contact-wrap {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 100px;
}
.map__wrap {
	width: 100%;
	height: 80vh;
}
.contact__wrap {
	padding: 100px 0 0 170px;
}
.contact__wrap>div {
	margin-bottom: 30px;
}
.contact__wrap .address p {
	font-size: 21px;
	margin-bottom: 10px;
}
.contact__wrap .address p:last-child {
	font-size: 15px;
	color: #848e9d;
	margin-bottom: 0;
}
.contact__wrap .metro {
	font-size: 17px;
}
.contact__wrap .metro>span {
	color: #848e9d;
}
.contact__wrap .phone a{
	font-size: 20px;
	margin-bottom: 10px;
}
.contact__wrap .phone p{
	font-size: 15px;
	color: #848e9d;
}
.contact__wrap .road {
	font-size: 17px;
}
.contact__wrap .icon {
	position: absolute;
	left: -45px;
	top: 0;
}
.contact__wrap .icon i {
	font-size: 26px;
	color: #848e9d;
}

.service__contact-button {
	width: 295px;
	height:50px;
	background-color: var(--lightred-color);
	color: #fff;
	font-size: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 70px;
}


@media all and (max-width: 1550px) {
	.tile__title-wrap .title,
	.tile__price-wrap>* {
		font-size: 19px
	}
	.tile__image-wrap {
		width: 110px;
		height: 110px;
		min-width: 110px;
		margin-right: 20px
	}
	.tile__header {
		margin-bottom: 30px
	}
	.contact__wrap {
		padding-top: 60px;
		padding-left: 80px
	}
	.map__wrap {
		width: 180%;
	}
}
@media all and (max-width: 1380px) {
	.service__tile {
		padding: 20px 30px 30px 20px;
	}
	.tile__image-wrap {
		width: 90px;
		height: 90px;
		min-width: 90px;
	}
	.service__tiles-wrap {
		column-gap: 20px;
		grid-row-gap: 20px;
	}
	h2 {
		font-size: 24px;
		margin: 50px 0;
	}
	.contact__wrap .address p {
		font-size: 19px
	}
	.service__contact-button {
		font-size: 19px;
		margin-top: 30px;
		width: 230px;
		height: 40px;
		font-size: 17px
	}
}
@media all and (max-width: 1180px) {
	.tile__image-wrap {
		width: 70px;
		height: 70px;
		min-width: 70px;
	}
	.tile__header {
		margin-bottom: 20px
	}
	.tile__title-wrap .title, .tile__price-wrap>* {
		font-size: 17px
	}
	.service__description {
		font-size: 15px;
		margin-bottom: 20px
	}
	.map__wrap {
		width: 100%;
		height: 490px
	}
	.service__contact-wrap {
		padding-bottom: 50px
	}
}

@media all and (max-width: 990px) {
	h1	{
		font-size: 28px;
		margin: 30px 0;
	}
	.service__tiles-wrap {
		grid-template-columns: 1fr 1fr;
	}
	.page__description {
		font-size: 17px;
		margin-bottom: 30px	
	}
	.service__contact-wrap {
		flex-direction: column;
	}
}
@media all and (max-width: 670px) {
	.service__tiles-wrap {
		grid-template-columns: 1fr;
	}
}
@media all and (max-width: 520px) {
	.map__wrap {
		width: calc(100% + 20px);
		left: -10px;
	}
	.contact__wrap {
		padding-left: 50px;
		padding-top: 30px;
	}
	.contact__wrap .icon {
		width: 25px;
		text-align: center;
	}
	.contact__wrap .icon img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
	.contact__wrap .icon i {
		display: block;
		margin: 0 auto;
		font-size: 23px
	}
	.contact__wrap .road {
		font-size: 15px
	}
	.service__contact-wrap {
		padding-bottom: 10px
	}
	h2 {
		font-size: 18px;
		margin-top: 35px;
		margin-bottom: 20px
	}
}
@media all and (max-width: 420px) {
	h1 {
		font-size: 21px
	}
}