:root {
	--main-color: #58626e;
	--blue-color: #70c6be;
	--green-color: #c7e86f;
	--red-color: #b2555e;
	--lightred-color: #ea7575;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: SF UI Display, open sans;
	font-weight: 400;
	color: var(--main-color);
	position: relative;
}
ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	max-width: 100vw;
	overflow-x: hidden;
	background-color: #fff;
}
button {
	border-radius: 5px;
	box-shadow: none;
	border:none;
	cursor: pointer;
	transition: all 0.2s linear;
}
.wrap {
	width: 100%;
	max-width: 100vw;
	overflow-x: hidden;
	background-color: #fff;
}
a {
	text-decoration: none;
}

.container {
	width: calc(100% - 20px);
	max-width: 1745px;
	margin: 0 auto;
}

.up {
	width: 65px;
	height: 65px;
	position: fixed;
	z-index: 9;
	right: 55px;
	bottom: 100px;
	cursor: pointer;
	opacity: 0.4;
	transition: all 0.2s linear;
}
.up:hover {
	opacity: 1;
}
#background {
	width: 100%;
	height: 100%;
	background-color: rgba(41, 46, 52, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
#transparentBackground {
	width: 100%;
	height: 100%;
	background-color:transparent;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
.popup {
	position: fixed;
	z-index: 101;
	background-color: #fff;
	display: none;
	animation-duration: 0.55s;  
    animation-fill-mode: both;  
}
.popup .close {
	right: 30px;
	top: 30px;
}
.popup__order {
	width: 100%;
	max-width: 560px;
	border-radius: 5px;
	padding: 60px 80px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
    animation-name: fadeInDown;
}
@keyframes fadeInDown {
    0% {                
        opacity: 0;
        transform: translateX(-50%) translateY(-150%) scale(0.5);
    }
    100% {              
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1);
    }
}
.popup__title {
	width: 100%;
	text-align: center;
	font-size: 32px;
	margin-bottom: 60px;
}
.popup__form {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}
.popup__form input {
	display: block;
	border: solid 1px #e1e3e5;
	border-radius: 5px;
	padding-left: 30px;
	font-size: 21px;
	margin-bottom: 40px;
	width: 100%;
	height: 50px;
}
.popup__form input:focus {
	outline: none;
}
.popup__form button {
	display: block;
	background-color: var(--lightred-color);
	color: #fff;
	font-size: 22px;
	width: 190px;
	height: 50px;
	margin: 20px auto 60px auto;
}
.checkbox__wrap {
	width: 100%;
	padding-left: 50px;
}
.checkbox__wrap input[type='checkbox'] {
	display: none;
}
.checkbox__wrap label {
	font-size: 15px;
	color: #848e9d;
	text-align: left;
	cursor: pointer;
}
.checkbox__wrap label:before {
	content: '';
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 3px;
	border: solid 1px #e1e3e5;
	position: absolute;
	top: -5px;
	left: -50px;
}
.checkbox__wrap input:checked ~ label:before {
	background-image: url(../img/checked.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.checkbox__wrap label a {
	display: inline;
	font-size: 15px;
	color: #848e9d;
}
.checkbox__wrap label a:hover {
	color: var(--green-color);
}

.confirmation {
	width: 360px;
	padding: 40px 20px;
	left: 50%;
	top: 50%;
	border-radius: 5px;
	transform: translateY(-50%) translateX(-50%);
	animation-name: fadeInDown;
}
.confirmation__text {
	font-size: 17px;
	line-height: 1.6;
	margin-bottom: 40px;
	text-align: center;
}
.confirmation__button {
	padding: 0 15px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 17px;
	border-radius: 5px;
	border: 1px solid var(--blue-color);
	cursor: pointer;
	color: var(--blue-color);
	transition: all 0.2s linear;
	margin: 0 20px;
}
.confirmation__button:hover {
	background-color: var(--blue-color);
	color: #fff;
}
.confirmation .buttons__wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}



.preview {
	width: 100%;
	max-width: 920px;
	padding: 50px;
	transform: translateX(-50%) translateY(-50%);
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 101;
	max-height: 100vh;
	overflow: auto;
    animation-name: fadeInDown;
}
.preview__mainInfo {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-bottom: 30px;
}
.preview__imgWrap {
	width: 44%;
	height: 360px;
	border: 1px solid #e1e3e5;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.preview__imgWrap img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}
.preview__infoWrap {
	padding-left: 40px;
}
.preview__infoWrap .popular__block-type,
.preview__infoWrap .popular__block-article,
.preview__infoWrap .popular__block-availiability,
.preview__infoWrap .popular__block-availiability a {
	font-size: 17px;
}
.preview__infoWrap .popular__block-type {
	margin-bottom: 20px;
}
.preview__infoWrap .popular__block-name {
	font-size: 25px;
	margin-bottom: 30px;
}
.preview__infoWrap .wrapper {
	display: flex;
}
.preview__infoWrap .wrapper a {
	color: #848e9d;
	margin-left: 25px;
	display: block;
}
.preview__infoWrap .wrapper a:hover {
	color: var(--green-color);
}
.preview__infoWrap .popular__block-price {
	font-size: 36px;
	margin-bottom: 40px;
}
.preview__infoWrap button.buy {
	font-size: 22px;
	width: 155px;
	height: 55px;
}
.preview__tabs-triggers {
	width: 100%;
	border-bottom: 5px solid #ccd3dc;
	height: 50px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}
.tab__trigger {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 21px;
	color: #848e9d;
	padding: 0 40px;
	cursor: pointer;
}
.tab__trigger.active {
	color: #64b2ab;
}
.tab__trigger.active:after {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #64b2ab;
	bottom: -5px;
	left: 0;
	position: absolute;
}
.tab__content {
	width: 100%;
	padding-top: 30px;
	display: none;
}
.tab__content.active {
	display: block;
}
.tab__content p {
	width: 100%;
	margin-bottom: 25px;
	font-size: 17px;
	font-weight: 100;
}
.tab__content p:last-child {
	margin-bottom: 0;
}

.preview__characteristics-row {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	border-bottom: 1px solid #e1e3e5;
	padding: 17px 0;
}
.preview__characteristics-row:last-child {
	border-bottom: none;
	padding-bottom: 0;
}
.preview__characteristics-row .title {
	padding-right: 15px;
	width: 44%;
	font-size: 17px;
}
.preview__characteristics-row .readig {
	font-size: 17px;
}





.quick__review {
	display: none;
	width: 320px;
	background-color: #fff;
	position: absolute;
	top: 40px;
	right: 0;
	box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.15);
	z-index: 101;
	animation-name: fadeIn;
}
.quick__review-row {
	width: 100%;
	border-bottom: 1px solid #e1e3e5;
	padding: 25px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.quick__review-row .image__wrap {
	width: 80px;
	height: 80px;
	min-width: 80px;
	border: 1px solid #e1e3e5;
	border-radius: 5px;
	margin-right: 20px;
}
.quick__review-row .image__wrap img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.quick__review-row .goods__type {
	font-size: 13px;
	color: #848e9d;
	margin-bottom: 15px;
}
.quick__review-row .goods__name {
	font-size: 17px;
	margin-bottom: 20px;
}
.quick__review-price {
	font-size: 20px;
	font-weight: 600;
}
.quick__review-row .delete__row-button {
	width: 15px;
	height: 15px;
	top: 25px;
	right: 20px;
}
.quick__review-summary {
	width: 100%;
	background-color: #f0f2f4;
	padding: 30px 25px;
}
.quick__review .summary__wrap {
	padding-top: 0;
	margin-bottom: 30px;
}
.quick__review .goods__summary {
	font-size: 19px;
}
.quick__review .price__summary {
	font-size: 24px;
	font-weight: 600;	
}
.quick__review-summary a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 190px;
	height: 45px;
	margin: 0 auto;
	background-color: var(--lightred-color);
	color: #fff;
	font-size: 17px;
}



.content {
	width: 100%;
}

.breadcrumbs {
	width: 100%;
}
.breadcrumbs .container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.breadcrumbs a {
	font-size: 15px;
	color: #474747;
}
.breadcrumbs a:hover {
	color: var(--green-color);
}
.breadcrumbs a:last-child {
	pointer-events: none;
	font-size: 15px;
	color: #848e9d;
}
.breadcrumbs__arrow {
	width: 5px;
	height: 12px;
	background-image: url(../img/slider_arrow.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transform: rotateZ(180deg);
	margin: 0 25px;
} 

header .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 25px 0;
}
header .topbar .container{
	padding: 25px 0;
}
header .navbar .container{
	height: 60px;
	padding: 0;
}

header .logo__wrap {
	width: 190px;
}
header .logo__wrap  img{
	width: 100%;
}

header .info__wrap {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	flex-direction: column;
}
header .info__wrap a{
	font-size: 20px;
}
header .info__wrap a i{
	margin-right: 15px;
	color:#848e9d;
}
header .info__wrap p i{
	margin-right: 15px;
	color:#848e9d;
}
header .info__wrap p{
	font-size: 15px;
	margin: 0;
	color: #848e9d;
}
header .info__wrap p.address{
	font-size: 20px;
	color: var(--main-color);
}
header .info__wrap.address_wrap a{
	font-size: 15px;
	margin: 0;
	color: #848e9d;
}

header .social__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header .social__wrap a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border:2px solid var(--blue-color);
	margin-right: 15px;
	font-size: 16px;
}
header .social__wrap a:last-child {
	margin-right: 0;
}
header .social__wrap a i{
	color: var(--blue-color);
}
header .info__wrap .close {
	display: none;
}

header .basket__wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 17px;
	cursor: pointer;
}
header .basket__wrap i {
	font-size: 30px;
	color: #848e9d;
	margin-right: 15px;
}
header .basket__wrap>div {
	margin-right: 10px;
	color:var(--red-color);
}
header .basket__wrap div:last-child{
	margin-right: 0;
	display: inline-block;
}

header .navbar {
	border-top: 1px solid #e9ebed;
}
header .navbar ul {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
header .navbar ul>li {
	margin-right: 5vw;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
header .navbar ul>li>a {
	font-size: 18px;
}
header .navbar ul>li>a:hover {
	color:var(--green-color);
}
header .navbar__search, .navbar__search-visible {
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar__search-visible {
	cursor: pointer;
}
header .navbar__search img {
	margin-right: 20px;
	width: 25px;
}
header .navbar__search p {
	font-size: 15px;
}
header li.parent_menu {
	cursor: pointer;
}
header li.parent_menu>a {
	pointer-events: none;
}
header li>.caret {
	position: absolute;
	top: 50%;
	right: -15px;
	transform: translateY(-50%);
}
header li>.caret i {
	font-size: 15px;
}
header li:hover>.caret {
	transform: translateY(-50%) rotateZ(180deg);
}

header .navbar .submenu {
	position: absolute;
	top: 55px;
	left: 0;
	display: none;
	width: 245px;
	padding: 15px 10px;
	background-color: #fff;
	border-radius: 5px;
	z-index: 10;
}
header .navbar li.parent_menu:hover .submenu{
	display: block;
	animation: fadeIn 0.2s linear;
	scrollbar-color: var(--blue-color);
    scrollbar-width: thin;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.05);
}
header .navbar .submenu ul::-webkit-scrollbar {
	width: 5px;
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 20%, rgba(204,211,220,1) 20.01%, rgba(204,211,220,1) 79.9%, rgba(255,255,255,1) 80%);
}
header .navbar .submenu ul::-webkit-scrollbar-button {
	display: none;
}
header .navbar .submenu ul::-webkit-scrollbar-track {
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 20%, rgba(204,211,220,1) 20.01%, rgba(204,211,220,1) 79.9%, rgba(255,255,255,1) 80%);
}
header .navbar .submenu ul::-webkit-scrollbar-thumb {
	width: 5px;
	background-color: var(--blue-color);
}
header .navbar .submenu ul {
	width: 100%;
	/*max-height: 355px;
	overflow-y: scroll;*/
	display: block;
}
header .navbar .submenu li {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0;
	min-height: 40px;
}
header .navbar .submenu li a {
	font-size: 15px;
	line-height: 32px;
}
header .navbar .submenu li:hover a {
	font-size: 15px;
	color: var(--green-color);
}


.search__popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	box-shadow: 0 0 15px 10px rgba(0,0,10,0.05);
	z-index: 101;
	display: none;
	align-items: center;
	justify-content: center;
	transition: all 0.2s linear;
	pointer-events: none;
}
.search__popup.active {
	pointer-events: auto;
	display: flex;
	animation: fadeIn 0.2s linear;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.search__popup form {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.search__popup img {
	width: 45px;
	margin-right: 40px;
}
.search__popup input {
	width: 60%;
	max-width: 1140px;
	height: 60px;
	font-size: 27px;
	border:none;
	border-bottom: 1px solid #e9ebed;
	font-weight: 200;
}
.search__popup input:focus {
	outline: none;
}
.search__popup input::-input-placeholder:focus {
	color:transparent;
}
.search__popup input:focus::-webkit-input-placeholder {
	color:transparent;
}
.search__popup input:focus::-moz-placeholder    {
	color:transparent;
}      
.search__popup input:focus:-moz-placeholder      {
	color:transparent;
}     
.search__popup input:focus:-ms-input-placeholder{
	color:transparent;
}
.search__popup button {
	display: block;
	margin-left: 40px;
	width: 140px;
	height: 55px;
	background-color: var(--lightred-color);
	color: #fff;
	font-size: 22px;
}
.search__popup .close {
	display: none;
}

.cookieBar {
	position: fixed;
	z-index: 100000;
	background-color: var(--blue-color);
	width: 100%;
	height: 115px;
	display: none;
}
.cookieBar .container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.close {
	position: absolute;
	right: 0;
	top: 20px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 1;
}
.close span {
	display: none;
	position: absolute;
	width: 100%;
	height: 2px;
	display: block;
	background-color: var(--red-color);
	top: 50%;
	left: 0;
	transform:translateY(-50%) rotateZ(45deg);
}
.close span:last-child {
	transform:translateY(-50%) rotateZ(-45deg);
}
header .navbar ul>.close {
	display: none;
}
.cookieBar button {
	display: block;
	width: 210px;
	height: 40px;
	border-radius: 5px;
	background-color: var(--red-color);
	color:#fff;
	font-size: 17px;
	margin-left: 10vw;
}
.cookieBar p {
	font-size: 17px;
	color: #fff;
}



footer {
	width: 100%;
	background-color: var(--main-color);
	padding-top: 70px;
}
footer * {
	color: #fff;
	font-weight: 200;
	font-size: 15px;
	line-height: 1.6;
}
footer>.container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-bottom: 70px;
}
.footer__block {
	width: 20%;
	padding-right: 30px;
}
.footer__block .copyright {
	margin:30px 0;
}
.footer__block:last-child {
	padding-right: 0;
}
.footer__block li:before {
	display: block;
	content: '';
	width: 5px;
	height: 5px;
	background-color: #9ba1a8;
	position: absolute;
	left: 0;
	top: 10px;
}
.footer__block li {
	padding-left: 35px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	line-height: 30px;
}
.footer__block li a:hover {
	color: var(--green-color);
}
.footer__block-title {
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.paymentMethods__block {
	width: 32%;
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	margin-bottom: 25px;
}
.paymentMethods__block p {
	margin-top: 10px;
	text-align: center;
	width: 100%;
	line-height: 1.4;
}
.paymentMethods__block.margin {
	margin-right: 20px;
}

.bottombar {
	width: 100%;
	height: 50px;
	background-color: #4f5863;
}
.bottombar .container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.bottombar .container a {
	font-size: 15px;
	color: #a1a9b3;
	text-decoration: underline;
	margin-right: 6vw;
}
.bottombar .developed-wrap {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.bottombar .developed-wrap p {
	font-weight: 400;
}
.bottombar .developed-wrap a {
	font-weight: 700;
	color: #d16969;
	text-decoration: none;
	margin-left: 5px;
	margin-right: 0;
}

footer .social__wrap {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 35px;
}
footer .social__wrap a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border:2px solid var(--blue-color);
	margin-right: 10px;
	font-size: 12px;
}
footer .social__wrap a:last-child {
	margin-right: 0;
}
footer .social__wrap a i{
	color: var(--blue-color);
}
footer .metric {
	display: block;
	margin-top: 20px;
	width: 145px;
	height: 45px;
}
footer .metric img {
	width: 100%;
	height: 100%;
}

.hamburger {
	display: none;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	width: 20px;
	height: 16px;
	position: absolute;
	left: 10px;
	top: 13px;
}
.hamburger span {
	width: 100%;
	height: 2px;
	display: block;
	background-color: #848e9d;
}

.mobile__triggers {
	display: none;
	align-items: center;
	justify-content: center;
}
.phone__trigger {
	margin-right: 20px;
}
.mobile__triggers i {
	font-size: 24px;
	color: #848e9d;
}

@media all and (max-width: 1755px) {
	.container {
		padding:0 10px;
		width: 100%;
	}
	header .navbar .container, header .topbar .container {
		padding: 20px 10px;
	}
	.footer__block {
		padding-right: 15px;
	}
	.footer__block li {
		padding-left: 20px;
		margin-bottom: 15px;
	}
	.paymentMethods__block {
		width: 42%;
	}
}
@media all and (max-width: 1440px) {
	header .navbar ul>li>a {
		font-size: 16px;
	}
	header .navbar ul>li {
		margin-right: 3vw;
	}
	header .info__wrap p.address, header .info__wrap a {
		font-size: 16px;
	}
	header .social__wrap a {
		width: 25px;
		height: 25px;
		font-size: 12px;
		margin-right: 7px;
	}
	header .info__wrap p {
		font-size: 12px;
	}
	footer * {
		font-size: 12px;
	}
}
@media all and (max-width: 1024px) {
	header .logo__wrap {
		width: 120px;
	}
}
@media all and (max-width: 990px) {
	.breadcrumbs {
		display: none;
	}
	.footer__block.list, .up {
		display: none;
	}
	.up {
		z-index: -1;
	}
	.footer__block {
		width: auto;
		max-width: 35%;
	}
	.paymentMethods__block {
		width: 32%;
	}
	header .navbar ul, header .info__wrap {
		display: none;
	}
	.hamburger{
		display: flex;
	}
	header .topbar .container {
		height: 45px;
		padding-left: 45px;
	}
	header .navbar .container {
		height: 50px;
		justify-content: flex-end;
	}
	header .social__wrap {
		position: absolute;
		left: 10px;
		top: 58px;
	}
	header .navbar .container, header .topbar .container {
		padding-top: 0;
		padding-bottom: 0;
	}
	.mobile__triggers {
		display: flex;
	}
	header .navbar ul {
		position: absolute;
		left: 0;
		top: -45px;
		z-index: 10;
		width: 100%;
		height: auto;
		flex-direction: column;
		display: flex;
		background-color: #fff;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 40px 0px 0 0px;
		transform: translateX(-150%);
		opacity: 0;
		transition: all 0.4s ease;
		box-shadow: 0 0 15px 10px rgba(0,0,10,0.05);
	}
	header .navbar ul.active {
		transform: translateX(0%);
		opacity: 1;
	}
	header li>.caret {
		display: none;
	}
	header .navbar .submenu {
		position: relative;
		display: block;
		background-color: #f6f7f8;
		width: auto;
		left: 0px;
		top: auto;
		border-radius: 0px;
		width: 100%;
		padding: 0;
	}
	header .navbar .submenu ul {
		max-height: 100%;
		overflow-y: auto;
		position: relative;
		background-color: transparent;
		padding: 10px 0;
		top: 0;
		margin-top: 10px;
		box-shadow: none;
	}
	header .navbar .submenu li {
		min-height: auto;
		padding: 5px;
		align-items: flex-start;
	}
	header .navbar .submenu li>a {
		padding-left: 20px;
	}
	header .navbar ul>.close {
		display: block;
	}
	.close {
		right: 30px;
	}
	header .navbar ul>li {
		width: 100%;
		margin-right: 0;
		padding: 12px 0;
		flex-direction: column;
		align-items: flex-start;
	}
	header .navbar ul>li>a {
		padding-left: 10px;
	}
	header .info__wrap .close {
		display: block;
	}
	header .info__wrap {
		position: absolute;
		width: 100%;
		height: 95px;
		background-color: #fff;
		align-items:flex-end;
		justify-content: center ;
		left: 0;
		top: 0;
		z-index: 10;
		padding-right: 50%;
	}
	header .info__wrap.active {
		display: flex;
	}
	header .info__wrap a {
		transform: translateX(82px);
	}
	header .info__wrap p {
		transform: translateX(82px);
		margin-top: 5px;
	}
	.bottombar .container a {
		font-size: 13px;
		margin-right: 1vw;
	}
}
@media all and (max-width: 700px) {
	.search__popup button {
		display: none;
	}
	.search__popup {
		height: 95px;
		pointer-events: auto;
	}
	.search__popup form {
		height: 100%;
		justify-content: flex-start;
		padding-right: 50px;
		padding-left: 10px;
	}
	.search__popup img {
		width: 30px;
		margin-right: 15px;
	}
	.search__popup input {
		height: 40px;
		font-size: 19px;
		width: 90%;
		max-width: calc(100% - 55px);
	}
	.search__popup .close {
		right: 20px;
		display: block;
	}
	.bottombar {
		height: auto;
	}
	.bottombar .container {
		flex-direction: column;
		align-items: flex-start;
	}
	.bottombar .container a {
		margin-right: 0;
		margin-bottom: 5px;
	}
	.bottombar .developed-wrap a {
		margin-bottom: 0;
	}
	.bottombar {
		padding: 15px 0;
	}
	footer {
		padding-top: 25px;
	}
	footer>.container {
		padding-bottom: 25px;
		width: 100%;
		flex-direction: column;
	}
	.bottombar .container {
		width: 100%;
	}
	.footer__block {
		margin-bottom: 20px;
		width: 100%;
		max-width: 100%;
		padding-right: 0;

	}
	.footer__block.copyright_wrap {
		flex-direction: row;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.footer__block.copyright_wrap p {
		display: none;
	}
	.footer__block .copyright {
		margin: 0;
		margin-bottom: 4px;
	}
	.paymentMethods__wrap {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: repeat(4,1fr);
	}
	.paymentMethods__block {
		width: 100%;
		margin: 0;
	}
	.paymentMethods__block:nth-child(1) {
		grid-row-start: 1;
		grid-row-end: 3; 
	}
	.paymentMethods__block:nth-child(2) {
		grid-row-start: 1;
		grid-row-end: 3;
		padding-top: 14px;
	}
	.paymentMethods__block:nth-child(3) {
		grid-row-start: 1;
		grid-row-end: 3;
		padding-top: 7px;
	}
	.paymentMethods__block:nth-child(4),
	.paymentMethods__block:nth-child(5) {
		align-items: flex-end;
	}
	.paymentMethods__block:nth-child(4) img,
	.paymentMethods__block:nth-child(5) img {
		width: 50px;
		float: right;
	}
	.paymentMethods__block.margin {
		margin: 0;
	}
	.footer__block-title {
		font-size: 13px;
		margin-bottom: 10px;
	}
	footer .social__wrap {
		display: none;
	}
	.footer__block:nth-child(6) .footer__block-title{
		display: none;
	}
	.footer__block:nth-child(6) {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 0;
	}
	footer .metric {
		margin-top: 0;
	}
	.popup__order {
		top: 0;
		transform: translateY(0) translateX(-50%);
		border-radius: 0;
	}
	@keyframes fadeInDown {
		0% {                
		    opacity: 0;
		    transform: translateX(-50%) translateY(-150%) scale(0.5);
		}
		100% {              
		    opacity: 1;
		    transform: translateX(-50%) translateY(0%) scale(1);
		}
	}
	.confirmation {
		top: 50px
	}
}
@media all and (max-width: 520px) {
	header .info__wrap {
		align-items: flex-start;
		padding-right: 0;
		padding-left: 10px;
	}
	header .info__wrap p {
		padding-left: 50px;
		transform: translateX(0px);
	}
	header .info__wrap a {
		transform: translateX(0px);
	}
	header .info__wrap.address_wrap p {
		padding-left: 180px;
	}
	header .info__wrap p.address {
		padding-left: 0;
	}
	header .info__wrap .close {
		right: 20px;
	}
}
@media all and (max-width: 420px) {
	header .basket__wrap div.basket__wrap-text {
		display: none;
	}
	.quick__review {
		right: -10px;
		width: 100vw;		
	}
	header .basket__wrap i {
		margin-right: 10px;
	}
	header .basket__wrap>div {
		margin-right: 0;
	}
	.popup__order {
		padding: 30px
	}
	.popup__title {
		font-size: 22px
	}
	.popup .close {
		top: 20px;
		right: 20px;
	}
	.popup__form input {
		height: 40px;
		margin-bottom: 20px;
		font-size: 17px;
	}
	.popup__form button {
		margin: 20px auto 50px auto;
		font-size: 17px;
		width: 140px;
	}
	.checkbox__wrap {
		margin-bottom: 20px
	}
}